
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />


    <style>
              body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
              }
              .draggable { width: 290px; height: 290px; padding: 0.5em; float: left; margin: 0 10px 10px 0; }
              #containment-wrapper { width: 95%; height:800px; border:2px solid #ccc; padding: 10px; }
        </style>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="app/js/jqxgrid/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="app/js/jqxgrid/styles/jqx.bootstrap.css" type="text/css" />
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">TDA HTML5 - Demo</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#watchlist">Watchlist</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Quote
                    <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#quotedetails">Detail</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#chart">Charts</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#news">News</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#research">Research</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#optionchain">Options</a></li>
                    </ul>
                    </a>
                </li>

              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Accounts
              <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#positions">Positions</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#balance">Balances</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#orders">Orders</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#History">History</a></li>
                  </ul>
              </a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	<div class="container">
		<div id="page" class="page" style="height:100%;width:100%"></div>
	</div>
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="themes/blue/style.css" type="text/css" id="" media="print, projection, screen" />

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="http://cdn.jsdelivr.net/underscorejs/1.4.4/underscore-min.js"></script>
	<script src="http://cdn.jsdelivr.net/backbonejs/1.0.0/backbone-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.9.1/jquery.tablesorter.min.js"></script>
           <script src="http://code.highcharts.com/stock/highstock.js"></script>
        <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
    <script type="text/javascript" src="app/js/lib/jquery.xml2json.js"></script>
    <script type="text/javascript" src="app/js/utils/tdaapiutil.js"></script>
    <script type="text/javascript" src="app/js/utils/chartutil.js"></script>
	<script type="text/javascript" src="app/js/utils/parsexml.js"></script>
	<script type="text/javascript" src="app/js/utils/xml2json.js"></script>
	<script type="text/javascript" src="app/js/utils/serializeobj.js"></script>
    <script type="text/javascript" src="app/js/utils/templateloader.js"></script>
    <script type="text/javascript" src="app/js/utils/emptyobj.js"></script>
    <script type="text/javascript" src="app/js/utils/marketodapiutil.js"></script>
    <script type="text/javascript" src="app/js/streamer/streamermanager.js"></script>
    <script type="text/javascript" src="app/js/streamer/StreamerResponseReaderHelper.js"></script>
    <script type="text/javascript" src="app/js/streamer/tdaStreamer.js"></script>
	<script type="text/javascript" src="app/js/model/userprofilemodel.js"></script>
	<script type="text/javascript" src="app/js/model/watchlistmodel.js"></script>
	<script type="text/javascript" src="app/js/model/quotedetailmodel.js"></script>
	<script type="text/javascript" src="app/js/model/watchlistmodelcollection.js"></script>
	<script type="text/javascript" src="app/js/model/optionchainlistmodel.js"></script>
	<script type="text/javascript" src="app/js/model/optionchainlistmodelcollection.js"></script>
	<script type="text/javascript" src="app/js/model/newsheadlinemodel.js"></script>
	<script type="text/javascript" src="app/js/model/newsheadlinemodelcollection.js"></script>
	
	<script type="text/javascript" src="app/js/model/positionsmodel.js"></script>
	<script type="text/javascript" src="app/js/model/positionscollection.js"></script>

    <script type="text/javascript" src="app/js/model/chartmodel.js"></script>
	<script type="text/javascript" src="app/js/assets/AssetCache.js"></script>
	<script type="text/javascript" src="app/js/assets/assetmodel.js"></script>
	<script type="text/javascript" src="app/js/routes/router.js"></script>
	<script type="text/javascript" src="app/js/views/login-view.js"></script>
    <script type="text/javascript" src="app/js/views/watch-view.js"></script>
	<script type="text/javascript" src="app/js/views/main-view.js"></script>
	<script type="text/javascript" src="app/js/views/quotedetailsubview.js"></script>
	<script type="text/javascript" src="app/js/views/newssubview.js"></script>
    <script type="text/javascript" src="app/js/views/charts-view.js"></script>
    <script type="text/javascript" src="app/js/views/optionchain-view.js"></script>
	<script type="text/javascript" src="app/js/views/positionsview.js"></script>
    <script type="text/javascript" src="app/js/views/custom-view.js"></script>
    <script type="text/javascript" src="app/js/utils/jDataView.js"></script>
	<script type="text/javascript" src="app/js/app.js"></script>
	<script type="text/javascript" src="app/js/model/tdausermodel.js"></script>
        <script type="text/javascript" src="app/js/model/accountmodel.js"></script>
         <script type="text/javascript" src="app/js/views/balancesview.js"></script>
<script type="text/javascript" src="app/js/views/quotedetailview.js"></script>
<script type="text/javascript" src="app/js/model/balancesmodel.js"></script>
    <!-- JQX GRid Includes Starts-->

    <script type="text/javascript" src="app/js/jqxgrid/jqxcore.js"></script>
    <script type="text/javascript" src="app/js/jqxgrid/jqxdata.js"></script>
    <script type="text/javascript" src="app/js/jqxgrid/jqxbuttons.js"></script>
    <script type="text/javascript" src="app/js/jqxgrid/jqxscrollbar.js"></script>
    <script type="text/javascript" src="app/js/jqxgrid/jqxmenu.js"></script>
    <script type="text/javascript" src="app/js/jqxgrid/jqxgrid.js"></script>
    <script type="text/javascript" src="app/js/jqxgrid/jqxgrid.edit.js"></script>
    <script type="text/javascript" src="app/js/jqxgrid/jqxgrid.selection.js"></script>
    <script type="text/javascript" src="app/js/jqxgrid/jqxgrid.grouping.js"></script>
    <script type="text/javascript" src="app/js/jqxgrid/jqxgrid.aggregates.js"></script>

    <!-- JQX GRid Includes Ends-->

	<!-- page templates -->
	<script type="text/template" id="tda-loading">
		<h1>Loading <%= name %></h1>
	</script>

	<script type="text/template" id="tda-quote-detail">
		<table>
			<tr><td>Symbol<td> <td id="qd_symbol">...</td></tr>
		</table>
	</script>


	<!-- page templates -->
	<script type="text/template" id="tda-login-page">
				<form class="form-horizontal" id="tda-login-form">
					<legend> Login </legend>

					<div class="control-group">
						<label class="control-label" for="inputUsername">User Name</label>
						<div class="controls">
							<input type="text" name="username" value="nelsontest1" id="inputUsername" placeholder="User Name"/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputPassword" placeholder="Password">Password</Label>
						<div class="controls">
							<input type="password" name="password" value="06apiuprtest06" id="inputPassword"/>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="button" class="btn btn-success" id="loginButton"> Login </button>
						</div>
					</div>
				</form>
	</script>
    <script  type="text/template" id="tda-main-page">
        <h1>Welcome!</h1>
    </script>


    <script type="text/template" id="watch-list-template">

			<div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				WatchList
				<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<% for(var propt in wlmap){ %>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#watchlistname/<%= propt%>"><%= propt%></a></li>
					<% }%>
				</ul>
			</div>
			<div class="btn-group">
							  <button type="button" class="btn" id="wlchartview"><i class='icon-th-large'> </i></button>
							  <button type="button" class="btn" id="wllistview"><i class=' icon-th-list'> </i></button>
				</div>
		<table  id="watchlistTable" class="table table-hover tablesorter-bootstrap">
			<thead>
				<tr>
					<th>SYMBOL</th>
					<th id="SYMBOL1">BID</th>
					<th id="SYMBOL2">ASK</th>
					<th id="SYMBOL3">LAST</th>
					<th id="SYMBOL4">CHANG</th>
					<th id="SYMBOL5">%CHANG</th>
				</tr>
			</thead>
			<tbody>
				<% coll.each(function(model){
				%>
					<tr>
						<td><a href="#quotedetails/<%= model.get('symbol')%>"><%= model.get('symbol')%></a></td>
						<td id='<%= model.cid%>bid' ><%= model.get('asset').get('bid')%></td>
						<td id='<%= model.cid%>ask' ><%= model.get('asset').get('ask')%></td>
						<td id='<%= model.cid%>last' ><%= model.get('asset').get('last')%></td>
						<td id='<%= model.cid%>change' ><%= model.get('asset').get('change')%></td>
						<td id='<%= model.cid%>changePercent' ><%= model.get('asset').get('changePercent')%></td>
					<tr>
				<%
				}); %>

			</tbody>
			</table>
	</script>

	    <script type="text/template" id="watch-list-chart-template">

				<div class="btn-group">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					WatchList
					<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<% for(var propt in wlmap){ %>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#watchlistname/<%= propt%>"><%= propt%></a></li>
						<% }%>
					</ul>
				</div>
				<div class="btn-group">
								  <button type="button" class="btn" id="wlchartview"><i class='icon-th-large'> </i></button>
								  <button type="button" class="btn" id="wllistview"><i class=' icon-th-list'> </i></button>
				</div>
				<div>
					<div id='chartsgrid' class='row'>
					</div>
				</div>

	</script>


</body>

</html>