
<div class="row-fluid">
	<div class="achievements-wrapper">
		<table  id="newslistTable" class="table table-hover">
			<tbody>
				<% coll.each(function(model){
				%>
					<tr>
						<td>
							<a style="text-decoration: none;" href='#newsdetail/<%=model.get('DocumentKey')%>' data-toggle="collapse" data-target="#viewdetails<%=model.get('DocumentKey')%>" >
								<div>
									<small><%= new Date(model.get('DocumentDate'))%> - <%= model.get('Source')%></small>
								</div>
								<div>
									<p style="color:#2480D2;"><span><%= model.get('Headline')%></span></p>
									<div class="collapse-group">
									   <p class="collapse" id="viewdetails<%=model.get('DocumentKey')%>">Loading ..</p>
        							</div>
								</div>
							</a>
						</td>
					<tr>
				<%
				}); %>

			</tbody>
			</table>
	</div>
</div>