
<div class="row-fluid" >
    <div style="float: left; margin-bottom: 20px" class="btn-group">
        <input value="Expand All" type="button" class="btn" id='expandall' />
        <input style="margin-left: 30px;" value="Collapse All"    class="btn"
               type="button" id='collapseall' />
        <button style="margin-left: 150px;" type="button" class="btn" id="positionGraphBtn"><i class='icon-th-large'> </i></button>
        <button type="button" class="btn" id="positionListBtn"><i class=' icon-th-list'> </i></button>
        <br />
    </div>

        <div id="positionGrid" style="height:90%;width:100%"></div>
        <div id="positionGraph" style="height:90%;width:100%;display: none"></div>

</div>   
